body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='544' height='544' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e8e3d3' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ebe7e5'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E"); */
    background-color: #fcc897;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23b8a0ba' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%233b2a39' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23917e92' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23352234' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%236c5d6c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232f1b2e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23483e49' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23291429' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23282228' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23230c24' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23050005' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%231f001f' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

header {
    height: 2%;
    background-color: black;
}

h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 5em;
    font-variant: small-caps;
    -webkit-animation: color-change-3x 5s linear infinite alternate both;
	animation: color-change-3x 5s linear infinite alternate both;
}

@keyframes color-change-3x {
    0% {
      color: #a4b0be;
    }
    50% {
      color: #34495e;
    }
    100% {
        color: black;
    }
  }

h2 {
    text-align: center;
    font-size: 3.2em;
    font-variant: small-caps;
}

.cloud,
.stream {
    padding: 2%;
    border-radius: 10px;
    background: #304352;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-shadow: #FC0 1px 0 10px;
}

i {
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:8%;
    background-color: black;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .cloud,
    .stream {
        margin-top: 10%;
        padding: 2%;
    }
}

