@font-face {
    font-family: "Madonna";
    src: url("madonna/Confusions\ on\ a\ Dancefloor.ttf");
    }

body{
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
    font-family: "Madonna";
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    font: 150px;
    text-shadow: 0px 0px 10px white,
                 0px 0px 20px white,
                 0px 0px 30px white,
                 0px 0px 40px white,
                 0px 0px 50px white,
                 0px 0px 60px white,
                 0px 0px 70px white;
}

h2 {
    text-align: center;
    font-size: 3.2em;
    font-variant: small-caps;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cloud,
.stream {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: #ff9f43;
    border-radius: 50%;
    transition: all 0.1s linear;
}

.cloud {
    margin-right: 5%;
}

.cloud:hover {
    transform: scale(1.3);
}
.stream:hover {
    transform: scale(1.3);
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-shadow: #FC0 1px 0 10px;
}

i {
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:8%;
    background-color: black;
}

.dl{
    opacity: 0;
}



@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cloud,
    .stream {
        height: 130px;
        width: 130px;
        margin-top: 10%;
    }

    header {
        height: 2%;
        background-color: black;
    }

    h1{
        display: flex;
        flex-direction: column;

    }
}
